Malikah.Identity/bin/Debug/netcoreapp2.0/Malikah.Identity.dll
Malikah.Identity/obj/Debug/netcoreapp2.0/Malikah.Identity.pdb
Malikah.Identity/obj/Debug/netcoreapp2.0/Malikah.Identity.dll
Malikah.Identity/bin/Debug/netcoreapp2.0/Malikah.Identity.pdb
