@{
    ViewData["Title"] = "Malikah Admin Home Page";
}

In the Admin View

<div>
    <a asp-area="" asp-controller="Items" asp-action="Index">Manage Items</a>
</div>

<div>
    <a asp-action="CallApiUsingIdentityUserAccessToken">Call Api...</a>
</div>
